.TodoItem {
    font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #4d4d4d;
    padding: 10px 50px;
    border-bottom: 1px solid #bebebe;
    display: flex;
}

.TodoItem > p {
    margin: 0 0 0 10px;
    
}

.TodoItem:lastchild {
    border-bottom: none; 
}

.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: .3;
}


